.popup-overlay{
    -webkit-transform: translate3d(0, 0, 25px);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1500;

    &.hidden{
        opacity: 0;
        z-index: -25;
    }
}

.popup{
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    max-height: 80vh;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: fixed;
    z-index: 1501;

    &__content{
        position: relative;
    }

    &__close{
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E37D7D;
        border-radius: 0 10px 0 0;
        width: 40px;
        height: 40px;
        transition: background-color 100ms linear;
    }

    &__close:hover{
        background-color: #da5c5c;
    }

    @media only screen and (min-width: 1140px) {
        width: 800px;
    }
    @media only screen and (max-width: 1139px) and (min-width: 960px) {
        width: 800px;
    }
    @media only screen and (max-width: 959px) and (min-width: 720px) {
        width: 720px;
    }
    @media only screen and (max-width: 719px) and (min-width: 540px) {
        width: 540px;
    }
    @media only screen and (max-width: 539px) {
        width: 100%;
    }
}
