//colors
$main-fc: #FFFFFF;
$secondary-fc: #000000;
$third-fc: #EDC300;
$hover-third-fc: #C7A300;
$error-color: #ef4444;

$border-radius: 4px;

$xl-header-height: 80px;
$l-header-height: 70px;
$m-header-height: 70px;
$s-header-height: 70px;
$xs-header-height: 70px;
